/** CARD FLIPPIN' **/
.card {
  perspective: 600px;
}

.card--inner {
  transition: transform 1s;
  transform-style: preserve-3d;
}

.card--inner.is-flipped {
  transform: rotateY(180deg);
}

.card--inner .card-face {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card--inner .card-face.card-face--back {
    transform: rotateY(180deg);
}

/** SCROLLBAR **/
::-webkit-scrollbar-track{
    background-color: transparent;
}

::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb{
    background-color: #555555;
    border-radius: 5px;
}